---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>About</h1>
  <p>I’m James. I write the articles, produce the photography and handle development of this site myself. The site is a passion project.</p>
  <p>I hold accuracy and intellectual honesty as core tenets of the project and welcome constructive input. I am aware that discussing some of the history of Liverpool can be emotive, and I take care not to antagonise or offend. If you wish to reach out regarding such an issue, please do so constructively in that spirit.</p>
  <p>I hope you enjoy the site and learn something about this incredible city.</p>
  <p>Your host,<br>James</p>
</BaseLayout>