---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Liverpool History";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Welcome to rpool.live</h1>
  <p>Five centuries of the world's most consequential port city.</p>
</BaseLayout>