---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Maps";
---
<BaseLayout pageTitle={pageTitle}>
  <div class="page-header">
    <h1>Maps</h1>
    <p class="subtitle">A collection of maps of the city's past and present.</p>
  </div>
  <div class="topics-intro">
    <p>I want to create informative maps that really bring the city's places to life. In addition to showing where things can be found in the city, I want to show maps that illustrate where long-gone places once stood. I hope these maps help you visualise the city's past when you are exploring.</p>
  </div>
</BaseLayout>