---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "The Twentieth Century Era";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>The Twentieth Century Era</h1>
  <p>1901–1970</p>
</BaseLayout>