---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "The Victorian Era";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>The Victorian Era</h1>
  <p>1837–1901</p>
</BaseLayout>